/frontend2/nbproject/private/
/frontend2/build/
/frontend2/dist/
/frontend/lib
/frontend/out

/backend/node_modules
/backend/.idea
/backend/.vscode
/backend/~path
/backend/.pnpm-debug.log
.git
.vscode
conception
demo
urlconnection
.gitignore
GESTION_sco.pdf
icon.png
icon1.png
tp-gestion-notes.iml